src/test/resources/dbunit/xsd/dataset.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:dflt="whereami">
	<xsd:import namespace="whereami" schemaLocation="whereami.xsd" />
	<xsd:element name="dataset">
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="dbmaintain_scripts" type="dflt:dbmaintain_scripts__type" />
				<xsd:element name="locations" type="dflt:locations__type" />
				<xsd:element name="people" type="dflt:people__type" />
				<xsd:any namespace="whereami" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
